# Dataset (too large for git)
data/raw/
data/labeled/
data/uncertain/

# Models
models/pretrained/
models/checkpoints/
models/retrained_model/

# Python
__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/

# IDE
.vscode/
.idea/
ml_env/
runs/
*.pt
*.pth
.DS_Store
